<%= simple_form_for([ cocktail, dose ], :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="form-inputs padded">
    <%= f.input :description %>

    <%= f.select :ingredient_id, options_from_collection_for_select(Ingredient.all, 'id', 'name') %>

    <%= f.submit "Add to receipe", class: "btn btn-success" %>
  </div>

<% end %>

